@using Bognabot.Data.Exchange.Enums
@model Bognabot.App.ViewModels.TraderIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="trader" class="container-fluid">
    <div class="card" v-for="position in exchangePositions">
        <div class="card-header">
            {{position.exchangeName}} - {{parseInstrument(position.instrument)}}
        </div>
        <div class="card-body">
            <ul>
                <li>Quantity: <strong>{{position.quantity}}</strong></li>
                <li>Entry: <strong>{{position.entryPrice}}</strong></li>
            </ul>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="js/trader.index.js"></script>
    <script language="javascript">
        var vm = new bognabot.TraderViewModel({
            instruments: @Json.Serialize(Enum.GetNames(typeof(Instrument)))
        });
    </script>
}

